{% extends "layout.html" %}

{% block content %}
    <div class="stats">
        <div class="fast_stats">
            <h1 class="section_title_1"> Today </h1>
            <div class="today">
                <div class="best_wpm">
                    <h3> Top Speed (wpm): </h3>
                    <h2> {{ today.max_speed }} </h2>
                </div>
                <div class="average_wpm">
                    <h3> Average Speed (wpm) </h3>
                    <h2> {{ today.average_speeds }} </h2>
                </div>
                <div class="Total_time">
                    <h3> Total time </h3>
                    <h2> {{ today.total_time }} </h2>
                </div>
                <div class="average_errors">
                    <h3> Average Errors </h3>
                    <h2> {{ today.average_errors }} </h2>
                </div>
            </div>
            <h1 class="section_title_2"> All time </h1>
            <div class="all_time">
                <div class="best_wpm">
                    <h3> Top Speed (wpm): </h3>
                    <h2> {{ all_time.max_speed }} </h2>
                </div>
                <div class="average_wpm">
                    <h3> Average Speed (wpm) </h3>
                    <h2> {{ all_time.average_speeds }} </h2>
                </div>
                <div class="Total_time">
                    <h3> Total time </h3>
                    <h2> {{ all_time.total_time }} </h2>
                </div>
                <div class="average_errors">
                    <h3> Average Errors </h3>
                    <h2> {{ all_time.average_errors }} </h2>
                </div>
            </div>
        </div>
        <div class="graphs">
            <div class="typing_speed"></div>
        </div>
    </div>
{% endblock %}