<!DOCTYPE html>
<html lang="en">
<head>
    <!-- JAVASCRIPT -->
    <script src="/js/input.js"></script>
    <script src="/js/utilities.js"></script>
    <script src="/js/encryption.js"></script>

    <%- include('partials/head.html') %>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body onload="line()">
    <div class="home">
        <div class="Example_Text">
            <% for (let y = 0; y < 20; y++) { %>
                <span id="<%- y %>">
                    <% for (let i = 1; i <= text[y].length; i++) { %>
                        <span id='<%- y %>,<%- i %>'><%=text[y][i-1]%></span>
                    <% }; %>
                </span>
                <% if (y == 9) { %>
                    <br>
                <% } else { %>
                    <span class="space">|</span>
                <% }; %>   
            <% }; %>       
        </div>
        <div class="Input_Text">
            <div class="contaier">
                <input type="text" id="main_input" autocomplete="off" autocapitalize="off" onkeydown="input('<%- language %>','<%- text %>',event)" autofocus>
                <div class="line_close" id="line_container"><div class="neutral_line" id="line"></div></div> 
            </div>
        </div>
        <div class="lower_section">
            <div class="menu">
                <button type="button" class="btn btn-dark btn-lg">Options</button>
                <% if (user == 'guest'){ %>
                    <a href="/LogIn">
                        <button type="button" class="btn btn-dark btn-lg">Log In</button>
                    </a>
                    <a href="/SignUp">
                        <button type="button" class="btn btn-dark btn-lg">Singn Up</button>
                    </a> 
                <% } else { %>
                    <a href="">
                        <button type="button" class="btn btn-dark btn-lg">Stats</button>
                    </a>
                    <a href="/LogOut">
                        <button type="button" class="btn btn-dark btn-lg">Log out</button>
                    </a> 
                <% }; %>
            </div>
            <div class="central_stats stats">
                <h4> Speed: <%- speed %> wpm</h4>
                <h4> Raight words: <%- correct_words %> </h4>
                <h4> Top seed: <%- top_speed %> wpm</h4>
                
            </div>
            <div class="right_stats stats">
                <h4> Errors: <%- errors %> </h4>
                <h4> Wrong words: <%- wrong_words %> </h4>
            </div>
        </div>
    </div>
</body>
<footer>
    <script>
        function line(){document.getElementById("line_container").className = "line_open";};
    </script>
    <%- include('partials/footer.html') %>
</footer>
</html>