<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="index.css">

        <title>Web de tipeacion</title>

    </head>
    <body>
        <div class="Google_AdSense_down"></div>
        <div>
            <div class="content">
                <div class="Example_Text">
                    dlafjdlkjaldlajfldjflaakdfkljalkdjflkasjdlsjalkdjslafld <br>
                    dafjdlkjalfkdlkfaldjljaflkdjlfajdlkjfaljdljaflkdjlfjald 
                </div>
                <div class="Input_Text">
                    <input type="text">
                </div>
                <div>
                    <div class="Stats">
                        <div class="Menu">
                            Options <br>
                            Stats 
                        </div>
                        <div class="Customable_Stats_1">
                            <h2 class="speed"> Speed: </h2>
                            <h2 class="speed_number"> 45 WPM </h2>

                            <h2 class="errors"> Errors: </h2>
                            <h2 class="errors_number"> 10 </h2>
                        </div>
                        <div class="Customable_Stats_2">
                            <h2 class="Correct_words"> Correct words: </h2>
                            <h2 class="Correct_words_number"> 34 </h2>

                            <h2 class="Wrong_words"> Wrong words: </h2>
                            <h2 class="Wrong_words_number"> 3 </h2>

                            <h2 class="Keystrokes"> Keystrokes: </h2>
                            <h2 class="Keystrokes_numbers"> 232 </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>