{% extends 'base/base.html' %}

{% from "_macro.html" import render_field %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/singIn.css') }}">
{% endblock %}

{% block body %}
    <div class="principal_content">
        <form action="" method='POST'>
            <div class="user">
                <h3> User: </h3>
                {{ render_field(form.username)}}
                <!-- <input type="text1" id="user" autocomplete="off"> -->
            </div>
            <div class="password">
                <h3> password: </h3>
                {{ render_field(form.pasword)}}
                <!-- <input type="password" id="password" autocomplete="off"> -->
            </div>
            <div class="E-mail">
                <h3> E-mail: </h3>
                {{ render_field(form.e_mail)}}
            </div>
            <div class="singIn">
                <button> singIn </button>
            </div>
        </form>
    </div>
{% endblock %}