*{
    padding: 0;
    margin: 0;
}

html{
    
    height: 100%;
   
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2431a5+0,b719aa+100 */
    background: rgb(36,49,165); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(36,49,165,1) 0%, rgba(183,25,170,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba(36,49,165,1) 0%,rgba(183,25,170,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba(36,49,165,1) 0%,rgba(183,25,170,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2431a5', endColorstr='#b719aa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    color: white;

    font-family: Noto Sans, sans-serif;
}

body{
    height: 100%;
}

input{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    width: 50%;

    border-radius: 50px;
    border: none;
    outline: none;

    background-color:rgba(0, 0, 0, 0.3);
    color: white;

    font-size: 2rem;
    text-align: center;
}

nav{
    display: grid;
    grid-template-columns: 3;
    font-size: 1.5rem;
}

ul {
    grid-column: 2;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }

  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover, .is_active{
    border-color: rgba(255, 255, 255, 0.3);
    border-width: 2px;
    border-style: solid;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-radius: 15px;  

    background-color:rgba(0, 0, 0, 0.03);
  }
  



.is_invalid{
    border-style: solid;
    border-width: 1.7px;
    border-color: #c3062c;
}
.invalid_fedback{
    margin-top: 1%;
    color: #c3062c;
}
.alert-danger, .alert-success{
    text-align: center;
    font-size: 1.5rem;
}
.alert-success{
    color: #5dc724;
}
.alert-danger{
    color: #c3062c;
}



.home{
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.Example_Text, .Input_Text{
    display: block;
    align-self: center;
    text-align: center;
}

.Example_Text{
    grid-row: 1;

    font-size: 2.5rem;

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

.Input_Text{
    grid-row: 2;

    padding-left: 20%;
    padding-right: 20%;
}

.Input_Text input{
    background-color:rgba(0, 0, 0, 0.03);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.3);

    font-size: 2rem;
}

.lower_section{
    grid-row: 3;
    display: grid;

    grid-template-columns: 0% repeat(3,1fr) 0%;
    grid-column-gap: 10%;
}

.menu{
    grid-column: 2;

    padding-right: 15%;
    padding-left: 15%;
}

a{
    text-decoration: none;
    text-align: center;
    outline: none;
    color: white;
}

a:hover{
    color: #ad10b7;
}

.menu a{
    margin: 5%;

    display: inline-block;
    border-radius: 15px;
    line-height: 200%;
    width: 100%;

    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0);
}

.options_icon{
    display: none;
}





.login{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 15% 70% 15%;
}
.main_card{
    grid-row: 2;
    grid-column: 2;

    background-color:rgba(128, 128, 128, 0.123);
    border-radius: 25px;

}

.person{
    margin-bottom: 5%;
    margin-top: 5%;
}
.circle {
    height: 140px;
    width: 140px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;

    margin-left: auto;
    margin-right: auto;

    padding: 5%;
}
.head {
    height: 60px;
    width: 60px;
    background-color:rgba(255, 248, 248, 0.3);
    border-radius: 50%;

    margin-bottom: 5%;

    margin-left: auto;
    margin-right: auto;
}

.body{
    height: 80px;
    width: 80px;
    background-color:rgba(255, 248, 248, 0.3);
    
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;

    margin-left: auto;
    margin-right: auto;
}


.login form, .signup form{
    margin-left: 10%;
    margin-right: 10%;
}

.login input, .signup input{
    margin-top: 8%;
    width: 100%;
}

.boolean{
    display: grid;
    grid-template-rows: 1;
}

.boolean input{
    margin-top: 15%;
    grid-row: 1;
}
.boolean label{
    grid-row: 1;
    margin-top: 8%;
    font-size: 1.5rem;
}

.input_submit:hover{
    background-color:rgba(255, 248, 248, 0.3);
    cursor: pointer;
}

.small{
    margin-top: 10%;

    text-align: center;
}





.signup{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 10% 85% 5%;
}



.profile{
    height: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 7% 30% 30% 30% 3%;
}
.profile_tag, .fast_stats, .graphs{
    grid-column: 2;
}
.profile_tag{
    grid-row: 2;
}
.fast_stats{
    grid-row: 3;

    display: grid;
    grid-template-rows: 12.5% 37.5% 12.5% 37.5%;
}
.section_title_1{
    grid-row: 1;
}
.section_title_2{
    grid-row: 3;
}
.today div, .all_time div{
    border-color: white;
    border-style: solid;
}
.today, .all_time{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.today{
    grid-row: 2;
}
.all_time{
    grid-row: 4;
}




.graphs{
    grid-row: 4;
}




@media only screen and (max-width: 600px) {
    .home{
        grid-template-rows: 60% 20% 20%;
    }


    .Input_Text{
        padding: 0;
    }
    .Input_Text input{
        width: 80%;
    }

    .lower_section{
        grid-column-gap: 5%;
        margin-top: 10%;
        padding-bottom: 15%;

        background-color: rgba(128, 128, 128, 0.123);
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

    .menu a .options_icon{
        margin-top: 30%;
        margin-left: 20%;
    }

    .menu .options_icon{
        display: -webkit-box;
        height: 80%;
        width: 80%;
    }

    .menu .menu_item_1, .menu .menu_item_2, .menu .menu_item_3{
        display: none;
    }

    .central_stats{
        grid-column: 3 / 5;
        text-align: center;

        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 2;
    }

    .sped, .errors{
        grid-row: 2;
    }
    .speed_number, .errors_number{
        grid-row: 1;
        padding-top: 13%;
    }
    .sped, .speed_number{
        grid-column: 1;
    }
    .errors, .errors_number{
        grid-column: 2
    }

    .right_stats{
        display: none;
    }
}


@media only screen and (max-height: 500px){
    .Example_Text{
        font-size: 2rem;
    }

    .lower_section{
        margin-top: 0;
        padding-bottom: 20%;
    }
}